@import "tailwindcss";

/* ============================= */
/* 🎨 THEME CORPORATIVO GLOBAL */
/* ============================= */

@theme {
  --color-primary: #79c02d;
  --color-secondary: #558B2F;
  --color-background-light: #f4f7f6;
  --color-card-light: #ffffff;
  --color-input-light: #f3f4f6;
  --color-surface-light: #FFFFFF;
  --color-border-light: #E0E0E0;
  --color-text-light: #333333;
  --color-input-disabled-light: #E0E0E0;


  --font-display: "Inter", sans-serif;

  --radius-default: 0.75rem;
}

/* ============================= */
/* 🌍 ESTILOS BASE */
/* ============================= */

body {
  font-family: var(--font-display);
  background-color: var(--color-background-light);
  color: #1f2937;
}

/* 🌙 Dark mode */
.dark body {
  background-color: var(--color-background-dark);
  color: white;
}

/* Barra de progreso */
.progress-bar-container {
  height: 6px;
}